/* Para que no se vea el contenedor cuando no hay productos */
.comprar-oculto {
    display: none;
}

/* Para que tengan los mismos colores y estilos que los botones de las cards */
#btn-comprar, #vaciar-carrito, .btn-info, .btn-danger {
    @extend %ext-buttons;

    &:hover {
        @extend %ext-buttons-hover;
    }
}

/* Para centrar el botón de comprar */
.centrar {
    text-align: center;
    margin-bottom: 25px;
}