/* El margin de la sección y la tipografía */
.seccion-productos {
    margin-top: 100px;
    margin-bottom: 15px;
    font-family: nth($font-list, 1);

    /* La posición de las cards */
    .cartas-productos {
        @include parametros-display (center, row);
        flex-wrap: wrap;

        /* Para hacer negrita los titulos */
        h5 {
            font-weight: bold;
        }

        /* La justificación del texto */
        .parrafos-productos {
            margin-bottom: 0;

            div {
                strong {
                    margin: 10px 0;
                    text-decoration: none;
                }

                p {
                    margin-bottom: 5px;
                }
            }
        }

        /* El color de los botones */
        .botones-productos {
            @extend %ext-buttons;

            &:hover {
                @extend %ext-buttons-hover;
            }
        }
    }

    /* Mobile */
    /* Para que el menú no aparezca por detrás de las cards */
    @media screen and (max-width: 576px) {
        margin-top: 15px;

        .card {
            position: unset;
        }
    }


}